@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body,
:root {
  background-color: #07261b;
}

.gradient {
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #009d83 0%, #008872 74%);
}

.btn {
  color: white !important;
  font-weight: 300 !important;
  transition: 0.4s ease !important;
  cursor: pointer !important;
  font-size: 15px !important;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}
